@use 'variables' as *;

.strength-progress-box {
	max-width: 0;
	overflow: hidden;
	width: 100%;
	padding: 0;
	border: 1px solid $strokeColor;
	border-left: 1px solid $whiteColor;
	margin-left: -1px;
	background-color: $whiteColor;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-radius: 0;
	pointer-events: none;
	opacity: 0;
	transition: 300ms ease;

	.strength-container {
		width: 160px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.strength-progress {
			position: relative;
			width: 150px;
			height: 150px;
			border-radius: 50%;
			background: conic-gradient($accentColor 3.6deg, $darkText 0deg);
			display: flex;
			align-items: center;
			justify-content: center;

			.strength-value {
				position: relative;
				font-size: 1.4rem;
				font-weight: 800;
				color: $darkText;
			}

			&:before {
				content: '';
				position: absolute;
				width: 120px;
				height: 120px;
				background-color: $whiteColor;
				border-radius: 50%;
			}
		}

		.strength-label {
			font-size: 1.3rem;
			font-weight: 700;
			color: $darkText;
			margin-top: 1rem;
		}
	}

	&.show {
		opacity: 1;
		padding: 1rem;
		max-width: 230px;
		color: #70ff1d;
	}
}
